<a href="https://colab.research.google.com/github/bismasiddiqui/AI/blob/master/Practise_Assignment_003_bisma_siddiqui.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1:

Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

In [1]:
FavPizzas = ["Chicken Tikka","Green Chilli","Arabic Green"]
for pizza in FavPizzas:
    print(pizza)

Chicken Tikka
Green Chilli
Arabic Green

# Q2

Start with your last question , Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [2]:
FavPizzas = ["Chicken Tikka" , "Green Chilli" , "Arabic Green"]
for pizza in FavPizzas:
    print("i like" + pizza + "FavPizzas." )

i likeChicken TikkaFavPizzas.
i likeGreen ChilliFavPizzas.
i likeArabic GreenFavPizzas.

# Q3:

Use a for loop to print the numbers from 1 to 20,
inclusive.

In [3]:
for Num in range(1, 21):
    print(Num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Q4:

Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [4]:
for Num in range(1, 21, 2): #Odd Num
    print(Num, end = ' ')

1 3 5 7 9 11 13 15 17 19

# Q5:

Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [5]:
for multiple in range(1, 11):
    print(multiple*3)

3
6
9
12
15
18
21
24
27
30

# Q6:

A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [6]:
for value  in range(1, 11):
    print(value**3)

1
8
27
64
125
216
343
512
729
1000

# Q7:

###### Make a python program that conatains your nine favourite dishes in a list called foods.

###### Print the message, The first three items in the list are:. 
###### Then use a slice to print the first three items from that program’s list.

###### Print the message, Three items from the middle of the list are:
###### Use a slice to print three items from the middle of the list.

###### Print the message, The last three items in the list are:
###### Use a slice to print the last three items in the list.

In [7]:
dishes = ["Chicken Biryani", "Plao", "Daal Chaawal", "Qorma", "Chicken Karahi", "Chicken Tikka", "Mix Sabzi", "Daal", "BBQ"]

print("The first three items in the list are:\n")

for item in dishes[:3]:
    print(item)
    
print("\nThree items from the middle of the list are:\n")

for item in dishes[3:6]:
    print(item)
    
print("\nThe last three items in the list are:\n")

for item in dishes[6:]:
    print(item)

The first three items in the list are:

Chicken Biryani
Plao
Daal Chaawal

Three items from the middle of the list are:

Qorma
Chicken Karahi
Chicken Tikka

The last three items in the list are:

Mix Sabzi
Daal
BBQ

# Q8:

### Start with your program from your last Question8.
###### Make a copy of the list of foods, and call it friend_foods.
###### Then, do the following:
######    Add a new dish to the original list.
######    Add a different dish to the list friend_foodss.
######    Prove that you have two separate lists. 
###### Print the message, My favorite pizzas are: and then use a for loop to print the first list. 
###### Print the message,
###### My friend’s favorite foods are:, and then use a for loop to print the second list.
    
##### NOTE: Make sure each new dish is stored in the appropriate list.

In [8]:
my_favourite_food = ["biryani" , "whitekarhai" , "fish" , "macroni"]
my_friends_fav_food = my_favourite_food.copy()

my_favourite_food.append('chinies')

my_friends_fav_food.append('roll parhata')
my_favourite_food.copy()


print('\n my_favourite_food are: \n') 
for foods in my_favourite_food:
  print(foods)
print("\n my_friends_fav_food are :\n")
for foods in my_friends_fav_food:
  print(foods)

 my_favourite_food are:

biryani
whitekarhai
fish
macroni
chinies

 my_friends_fav_food are :

biryani
whitekarhai
fish
macroni
roll parhata

# Q9:

Take a user input from console line.Store it in a variable called Alien_color.

If the alien’s color is red, print a statement that the player just earned 5 points for shooting the alien.

If the alien’s color isn’t green, print a statement that the player just earned 10 points.

If the alien's color isn't red or green , print a statment :, Alien is no more.....

In [10]:
Alien_color=input ('enter your colour: ')
if Alien_color=='red':
    print('The player just earned 5 points for shooting the alien.')
elif Alien_color!='green':
    print('The player just earned 10 points')
else:
    print('Alien is no more.....')

enter your colour: red
The player just earned 5 points for shooting the alien.

# Q10:

Write an if-elif-else chain that determines a person’s
stage of life. Set a value for the variable age, and then:
    
•	 If the person is less than 2 years old, print a message that the person is a baby.

•	 If the person is at least 2 years old but less than 4, print a message that the person is a toddler.

•	 If the person is at least 4 years old but less than 13, print a message that the person is a kid.

•	 If the person is at least 13 years old but less than 20, print a message that the person is a teenager.

•	 If the person is at least 20 years old but less than 65, print a message that the person is an adult.

•	 If the person is age 65 or older, print a message that the person is an elder.

In [11]:
age = int(input('enter your age: '))
if age <2:
  print('the person is a baby')
elif age <=2 or age <4:
  print('the person is a toddler')
elif age <=4 or age <13:
  print('the person is a kid')
elif age <=13 or age <20:
  print('the person is a teenager')
elif age <=20 or age <65:
  print('the person is an adult')
else:
  print('the person is an elder')

enter your age: 80
the person is an elder

# Q11:

Do the following to create a program that simulates how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. 
Make sure one or two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already been used. 
If it has, print a message that the person will need to enter a new username. 
If a username has not been used, print a message saying that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [0]:
current_user = ["SAMIYA" , "HABIBA" , "WAFA" , "FATIMA" , "ALIYA"]
new_users = ["HABIBA" , "ADEENA" , "BISMA" , "SAMIYA" , "ZAIN"]

In [17]:
for new_users in new_users:
    names = new_users.upper()
    if names in current_user:
        print(f"\{names} , This name is already taken\nplease change your name....")
    else:
        print(f"\{names} , Your name is added to database...")

\HABIBA , This name is already taken
please change your name....
\ADEENA , Your name is added to database...
\BISMA , Your name is added to database...
\SAMIYA , This name is already taken
please change your name....
\ZAIN , Your name is added to database...

# Q12:

Use a dictionary to store information about a person you know.
Store their first name, last name, age, and the city in which they live. 
You should have keys such as first_name, last_name, age, and city. 
Print each piece of information stored in your dictionary

In [18]:
Person = {"First_name": "Bisma" , "Last_name": "Siddiqui" , "Age": 23 , "City": "Karachi"}
print("First_name: " + Person["First_name"])
print("Last_name:" + Person["Last_name"])
print("Age:" + str(Person["Age"]))
print("City:" + Person["City"])

First_name: Bisma
Last_name:Siddiqui
Age:23
City:Karachi

# Q13:

Starts with your last question 12 , loop through the dictionary’s keys and values.
When you’re sure that your loop works, add five more Python terms to your
dictionary . When you run your program again, these new words and meanings
should automatically be included in the output.

In [19]:
Person = {"First_name": "Bisma" , "Last_name": "Siddiqui" , "Age": "23" , "City": "Karachi" , "Contact": "090078601"}

for key, value in Person.items():
    print(key + ": " + value)

First_name: Bisma
Last_name: Siddiqui
Age: 23
City: Karachi
Contact: 090078601

In [20]:
Person["print"] = "print the statement"
Person["pass"] = "to pass"
Person["if"] = "condition"
Person["break"] = "to stop a loop"
Person["else"] = "other condition"

for key, value in Person.items():
    print(key + ": " + value)

First_name: Bisma
Last_name: Siddiqui
Age: 23
City: Karachi
Contact: 090078601
print: print the statement
pass: to pass
if: condition
break: to stop a loop
else: other condition

# Q14:

Make a dictionary containing three major rivers and the country
each river runs through. One key-value pair might be 'nile': 'egypt'.
    
    
•	 Use a loop to print a sentence about each river, such as The Nile runs
through Egypt.

NOTE: use upper case through keys and values.

In [21]:
rivers = {"nile": "egypt", "chaophraya": "thiland", "tigris": "iraq"}

for river, country in rivers.items():
    print("The " + river.upper() + " runs through " + country.upper() + ".")

The NILE runs through EGYPT.
The CHAOPHRAYA runs through THILAND.
The TIGRIS runs through IRAQ.

# Q15:

Make several dictionaries, where the name of each dictionary is the
name of a pet. In each dictionary, include the kind of animal and the owner’s
name. Store these dictionaries in a list called pets. Next, loop through your list
and as you do print everything you know about each pet.

In [22]:
dict_1 = {'Pet 1' : 'cat' , 'Owner' : 'aniya','kind' : 'mammal'}
dict_2 = {'Pet 2':'dog'  ,'Owner' : 'Ali' ,'kind' : 'mammal'}
pets = [dict_1,dict_2]
for pet in pets :
    for keys,values in pet.items() :
        print(f"{keys} : {values}")

Pet 1 : cat
Owner : aniya
kind : mammal
Pet 2 : dog
Owner : Ali
kind : mammal